.quiz-container {
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    .quiz-content {
        align-items: center;

    }
    .btn {
        position: absolute;
        right: 0;
        bottom: 20%;
    }
}